@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

.is-sm {
  display: none;
}
@media screen and (max-width: 375px) {
  .is-sm {
    display: block;
  }
}

.is-pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-md {
  display: none;
}
@media screen and (max-width: 767px) {
  .is-md {
    display: block;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 415px) {
  .is-sp {
    display: block;
  }
}

.is-500 {
  display: none;
}
@media screen and (max-width: 500px) {
  .is-500 {
    display: block;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.1428571429vw;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 1450px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.menu {
  height: 20px;
  position: absolute;
  left: 20px;
  top: 32px;
  width: 30px;
  z-index: 10001;
  display: none;
}
@media screen and (max-width: 767px) {
  .menu {
    display: block;
    top: 23px;
  }
}

.menu__line {
  background: #111;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}

.menu__line--center {
  top: 9px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu__line--top.active {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.menu__line--center.active {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #fff;
}

.menu__line--bottom.active {
  bottom: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: #fff;
}

.gnav {
  background: #1B2F5B;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.gnav__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

.gnav__menu {
  text-align: center;
}

.gnav__menu__item {
  margin: 40px 0;
}

.gnav__menu__item a {
  color: #fff;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gnav__menu__item a:hover {
  color: #666;
}

.gnav__menu__item:first-child a {
  position: relative;
}

.gnav__menu__item:first-child a::after {
  position: absolute;
  content: "お部屋";
  font-size: 14px;
  font-size: 0.875rem;
  bottom: 24px;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

.gnav__menu__item:nth-child(2) a {
  position: relative;
}

.gnav__menu__item:nth-child(2) a::after {
  position: absolute;
  content: "宿泊料金";
  font-size: 14px;
  font-size: 0.875rem;
  bottom: 24px;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

.gnav__menu__item:nth-child(3) a {
  position: relative;
}

.gnav__menu__item:nth-child(3) a::after {
  position: absolute;
  content: "基本情報";
  font-size: 14px;
  font-size: 0.875rem;
  bottom: 24px;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

.gnav__menu__item:nth-child(4) a {
  position: relative;
}

.gnav__menu__item:nth-child(4) a::after {
  position: absolute;
  content: "地図";
  font-size: 14px;
  font-size: 0.875rem;
  bottom: 20px;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

.slick-img img {
  width: 100%;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); /* 拡大率 */
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  -webkit-animation: zoomUp 10s linear 0s normal both;
          animation: zoomUp 10s linear 0s normal both;
}

.c-section__title {
  font-size: 55px;
  font-size: 3.4375rem;
  color: #1B2F5B;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-section__title {
    font-size: 2.625rem;
  }
}

.p-concept {
  padding: 70px 40px 300px;
  padding: 4.375rem 2.5rem 18.75rem;
}
@media screen and (max-width: 767px) {
  .p-concept {
    padding-top: 3.125rem;
    padding-bottom: 12.5rem;
  }
}

.p-concept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-concept__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-concept__left {
  width: 45%;
  text-align: center;
  position: relative;
  max-width: 545px;
  max-width: 34.0625rem;
  padding-top: 40px;
  padding-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  .p-concept__left {
    margin: 0 auto;
    width: 100%;
    max-width: 37.5rem;
  }
}

.p-concept__left::after {
  position: absolute;
  width: 330px;
  width: 20.625rem;
  height: 235px;
  height: 14.6875rem;
  bottom: 0%;
  left: 26%;
  content: "";
  background: url(../images/common/blue-sky.png) no-repeat center center/contain;
}
@media screen and (max-width: 1024px) {
  .p-concept__left::after {
    bottom: -5%;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__left::after {
    display: none;
  }
}

.p-concept__text {
  padding-top: 80px;
  padding-top: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  letter-spacing: 1.25px;
  line-height: 1.7;
  padding-top: 60px;
  padding-top: 3.75rem;
}

.p-concept__right {
  padding-top: 50px;
  padding-top: 3.125rem;
  width: 50%;
  padding-left: 50px;
  padding-left: 3.125rem;
}
@media screen and (max-width: 767px) {
  .p-concept__right {
    width: 100%;
  }
}

.p-concept__image {
  width: 75%;
  margin-left: 90px;
  margin-left: 5.625rem;
}
@media screen and (max-width: 767px) {
  .p-concept__image {
    margin-left: 0;
    width: 90%;
  }
}

.p-concept__figure {
  padding-top: 133.6%;
  position: relative;
  width: 100%;
  height: 0;
}

.p-concept__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-footer {
  background: #1B2F5B;
  padding-top: 98px;
  padding-top: 6.125rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.p-footer__inner {
  display: inline-block;
}

.p-footer::after {
  position: absolute;
  width: 200px;
  width: 12.5rem;
  height: 285px;
  height: 17.8125rem;
  width: 10.41vw;
  height: 14.84vw;
  bottom: 0;
  right: 31%;
  content: "";
  background: url(../images/common/tree-right.png) no-repeat center center/contain;
  overflow: hidden;
}
@media screen and (max-width: 1439px) {
  .p-footer::after {
    right: 29%;
  }
}
@media screen and (max-width: 767px) {
  .p-footer::after {
    width: 20.82vw;
    height: 29.68vw;
    right: 11%;
  }
}

.p-footer::before {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 179px;
  width: 11.1875rem;
  height: 200px;
  height: 12.5rem;
  width: 9.3vw;
  height: 10.41vw;
  bottom: 0;
  left: 32%;
  content: "";
  background: url(../images/common/tree-left.png) no-repeat center center/contain;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 1439px) {
  .p-footer::before {
    left: 29%;
  }
}
@media screen and (max-width: 767px) {
  .p-footer::before {
    width: 18.6vw;
    height: 20.82vw;
    left: 11%;
  }
}

.footer__sub-title {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.p-footer__title {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

.p-footer__tel {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  padding-bottom: 76px;
  padding-bottom: 4.75rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  letter-spacing: 1.5px;
}

.p-footer__tel-icon {
  display: inline-block;
  padding-right: 5px;
  padding-right: 0.3125rem;
  width: 36px;
  width: 2.25rem;
  height: 24px;
  height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
}

.p-footer__copy-light {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .p-footer__copy-light {
    font-size: 0.875rem;
  }
}

.p-gallery {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  background: #fff;
}

.p-gallery__inner {
  width: 100%;
  max-width: 1370px;
  max-width: 85.625rem;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .p-gallery__inner {
    max-width: 90%;
  }
}

.p-gallery__images:nth-of-type(1) {
  background: url(../images/common/info-1.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(2) {
  background: url(../images/common/info-2.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(3) {
  background: url(../images/common/info-3.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(4) {
  background: url(../images/common/info-4.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(5) {
  background: url(../images/common/info-5.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(6) {
  background: url(../images/common/info-6.jpg) no-repeat top center/cover;
}

.p-gallery__figure {
  display: grid;
  gap: 10px;
  gap: 0.625rem;
  grid-template: 250px 250px/1fr 1fr 1fr;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .p-gallery__figure {
    grid-template: 200px 200px 200px/1fr 1fr;
  }
}
@media screen and (max-width: 415px) {
  .p-gallery__figure {
    grid-template: 200px 200px 200px 200px 200px 200px/1fr;
  }
}

.p-header {
  height: 100px;
  height: 6.25rem;
  background: #fff;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-header {
    top: 0;
    left: 0;
    height: 5rem;
    position: fixed;
    z-index: 999;
  }
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-header__logo {
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  color: #1B2F5B;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-left: 100px;
  padding-left: 6.25rem;
  padding-top: 20px;
  padding-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .p-header__logo {
    display: none;
  }
}

.p-header__logo--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-header__logo--sp {
    display: block;
    padding-right: 1.3125rem;
  }
}

.p-header__logo-figure {
  width: 124px;
  height: 73px;
}

.p-header__logo-figure img {
  width: 100%;
  height: 100%;
}

.p-header__icon img {
  width: 255px;
  width: 15.9375rem;
  height: 55px;
  height: 3.4375rem;
}
@media screen and (max-width: 767px) {
  .p-header__icon img {
    width: 2.0625rem;
    height: 2rem;
  }
}

.p-header__icon source {
  width: 32px;
  width: 2rem;
  height: 35px;
  height: 2.1875rem;
}

.p-header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-top: 0.9375rem;
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-right: 6.25rem;
}
@media screen and (max-width: 767px) {
  .p-header__tel {
    margin-right: 40px;
    padding-top: 1.125rem;
  }
}

.p-header__tel a {
  font-size: 24px;
  font-size: 1.5rem;
  color: #1B2F5B;
  font-family: "Noto Sans JP", sans-serif;
}

.p-header__tel-icon {
  display: inline-block;
  padding-right: 10px;
  padding-right: 0.625rem;
  width: 36px;
  width: 2.25rem;
  height: 24px;
  height: 1.5rem;
  padding-top: 5px;
  padding-top: 0.3125rem;
}

.p-information {
  padding: 100px 40px 70px;
  padding: 6.25rem 2.5rem 4.375rem;
  background: #fff;
  text-align: center;
}

.p-information__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 765px;
  max-width: 47.8125rem;
  position: relative;
}

.p-information__inner::before {
  display: none;
}
@media screen and (min-width: 1440px) {
  .p-information__inner::before {
    position: absolute;
    width: 13.8vw;
    height: 25.7vw;
    top: 50%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    right: 100%;
    left: calc(50% - 41.125rem);
    content: "";
    background: url(../images/common/red-flower.png) no-repeat center center/contain;
    overflow: hidden;
    display: block;
  }
}

.p-information__inner::after {
  display: none;
}
@media screen and (min-width: 1440px) {
  .p-information__inner::after {
    position: absolute;
    content: "";
    background: url(../images/common/water.png) no-repeat center center/contain;
    overflow: hidden;
    width: 18.9vw;
    height: 21.4vw;
    top: 0;
    right: calc(50% - 43.75rem);
    display: block;
  }
}

.p-information__title {
  text-align: center;
  position: relative;
  display: inline-block;
}

.p-information__title::after {
  display: none;
}
@media screen and (max-width: 1439px) {
  .p-information__title::after {
    position: absolute;
    content: "";
    background: url(../images/common/flower-info.png) no-repeat center center/contain;
    overflow: hidden;
    width: 9.45vw;
    height: 10.7vw;
    top: -32%;
    left: -35%;
    display: block;
  }
}
@media screen and (max-width: 1439px) and (max-width: 767px) {
  .p-information__title::after {
    width: 120px;
    height: 122px;
    top: -102%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.p-information__title::before {
  position: absolute;
  width: 74px;
  width: 4.625rem;
  height: 35px;
  height: 2.1875rem;
  bottom: -20px;
  bottom: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "基本情報";
  font-size: 18px;
  font-size: 1.125rem;
  color: #1B2F5B;
}
@media screen and (max-width: 767px) {
  .p-information__title::before {
    font-size: 1rem;
    bottom: -1.375rem;
  }
}

.p-information__container {
  text-align: left;
  padding-top: 46px;
  padding-top: 2.875rem;
}

.p-information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 22px;
  padding: 1.125rem 1.375rem;
}
@media screen and (max-width: 767px) {
  .p-information__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-information__items--odd {
  background: #EDF2F7;
}

.information__item {
  width: 180px;
  width: 11.25rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1.25px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .information__item {
    width: 100%;
  }
}

.information__list {
  width: calc(100% - 180px);
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1.25px;
}
@media screen and (max-width: 767px) {
  .information__list {
    width: 100%;
  }
}

.p-information__items-other {
  padding-left: 22px;
  padding-left: 1.375rem;
  margin-top: -13px;
  margin-top: -0.8125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  padding-right: 22px;
  padding-right: 1.375rem;
}

.p-maps {
  background: #fff;
}

.p-maps__inner {
  width: 100%;
  position: relative;
  padding-top: 32.6%;
}
@media screen and (max-width: 767px) {
  .p-maps__inner {
    padding-top: 80.6%;
  }
}

.p-maps__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-maps__titles {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  width: 80%;
  max-width: 700px;
  max-width: 43.75rem;
  margin: 0 auto;
}

.p-maps__title {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.p-maps__lists {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #1B2F5B;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-maps__lists {
    font-size: 1rem;
  }
}

.p-maps__list {
  padding-right: 30px;
  padding-right: 1.875rem;
}

.p-mv {
  padding-top: 140px;
  padding-top: 8.75rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  position: relative;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
}
@media screen and (max-width: 767px) {
  .p-mv {
    padding-top: 7.5rem;
  }
}
@media screen and (max-width: 375px) {
  .p-mv {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 8rem;
  }
}

.p-mv::after {
  background: #EDF2F7;
  position: absolute;
  width: 54.6%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: -3;
}
@media screen and (max-width: 767px) {
  .p-mv::after {
    width: 40%;
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .p-mv::after {
    height: 112%;
  }
}

.p-mv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1484px;
  max-width: 92.75rem;
  height: auto;
}
@media screen and (max-width: 767px) {
  .p-mv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-mv__titles {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: -60%;
}
@media screen and (max-width: 767px) {
  .p-mv__titles {
    top: 96%;
    left: 0%;
  }
}

.p-mv__title {
  color: #1B2F5B;
  background-color: #fff;
  padding: 0 10px;
  padding: 0 0.625rem;
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Noto Sans JP", sans-serif;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .p-mv__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .p-mv__title {
    font-size: 1.25rem;
  }
}

.p-mv__text {
  padding-left: 10px;
  padding-left: 0.625rem;
  font-size: 21px;
  font-size: 1.3125rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-mv__text {
    font-size: 1rem;
    background-color: #fff;
    display: inline-block;
    padding: 0.3125rem 0.625rem;
  }
}

.p-mv__images {
  position: relative;
  top: 0;
  right: 0;
  margin-left: auto;
  width: 60%;
  max-width: 900px;
  max-width: 56.25rem;
}
@media screen and (max-width: 767px) {
  .p-mv__images {
    width: 100%;
  }
}

.p-mv__images:after {
  position: absolute;
  bottom: 5%;
  left: -50%;
  width: 35%;
  height: 35%;
  content: "";
  font-size: 80px;
  font-size: 5rem;
  font-weight: 700;
  color: #1B2F5B;
  background: url(../images/common/logo-navy.svg) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .p-mv__images:after {
    display: none;
  }
}

.p-mv__picture {
  position: relative;
  padding-top: 60%;
  height: auto;
}

.p-mv__picture ::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6%;
  left: 5%;
  content: "";
  background: #1B2F5B;
  z-index: -2;
}

.p-mv__picture ::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #fff;
  z-index: -1;
}

.p-mv__names {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: "";
}

.parallax__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/common/parallax-2.jpg);
  width: 100%;
  max-height: 100vh;
}
@media screen and (max-width: 998.1px) {
  .parallax__image {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 767px) {
  .parallax__image {
    background-image: url(../images/common/sea-sp.jpg);
  }
}

.p-price {
  padding: 300px 40px 200px;
  padding: 18.75rem 2.5rem 12.5rem;
  background: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-price {
    padding: 9.375rem 1.25rem 6.25rem;
  }
}

.p-price__title {
  text-align: center;
  position: relative;
  display: inline-block;
}

.p-price__title::after {
  display: none;
}
@media screen and (max-width: 1439px) {
  .p-price__title::after {
    position: absolute;
    content: "";
    background: url(../images/common/flower.png) no-repeat center center/contain;
    overflow: hidden;
    width: 7.45vw;
    height: 8.7vw;
    top: -24%;
    left: -75%;
    display: block;
    -webkit-transform: rotate(-36deg);
            transform: rotate(-36deg);
  }
}
@media screen and (max-width: 767px) {
  .p-price__title::after {
    width: 88px;
    height: 90px;
    top: -5px;
    left: -87px;
  }
}

.p-price__title::before {
  position: absolute;
  width: 74px;
  width: 4.625rem;
  height: 35px;
  height: 2.1875rem;
  bottom: -20px;
  bottom: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "宿泊料金";
  font-size: 18px;
  font-size: 1.125rem;
  color: #1B2F5B;
}
@media screen and (max-width: 767px) {
  .p-price__title::before {
    font-size: 1rem;
    bottom: -1.375rem;
  }
}

.p-price__inner {
  padding-top: 100px;
  padding-top: 6.25rem;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  max-width: 43.75rem;
  position: relative;
  text-align: left;
}

.p-price__inner::before {
  display: none;
}
@media screen and (min-width: 1440px) {
  .p-price__inner::before {
    position: absolute;
    width: 140%;
    height: 140%;
    width: 11vw;
    height: 23.1vw;
    top: 50%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    right: 110%;
    content: "";
    background: url(../images/common/price-flower.png) no-repeat center center/contain;
    overflow: hidden;
    display: block;
  }
}

.p-price__inner::after {
  display: none;
}
@media screen and (min-width: 1440px) {
  .p-price__inner::after {
    position: absolute;
    width: 11vw;
    height: 23.1vw;
    top: 50%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    left: 110%;
    content: "";
    background: url(../images/common/price-flower.png) no-repeat center center/contain;
    overflow: hidden;
    display: block;
  }
}

.p-price__texts {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 767px) {
  .p-price__texts {
    display: none;
  }
}

.price__sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
}

.price__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 767px) {
  .price__texts {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-price__text--top {
  border-bottom: 1px solid #111;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.price__text--left {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 38%;
  padding-left: 3px;
  padding-left: 0.1875rem;
  letter-spacing: 1.25px;
}
@media screen and (max-width: 767px) {
  .price__text--left {
    width: 100%;
    padding-left: 7.5rem;
    text-align: left;
    padding-bottom: 0.3125rem;
    padding-top: 1.25rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 767px) and (max-width: 630px) {
  .price__text--left {
    padding-left: 0;
  }
}

.price-center--center {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 30%;
  text-align: right;
  padding-right: 10px;
  padding-right: 0.625rem;
  letter-spacing: 1.25px;
}

.price-center--right {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 32%;
  letter-spacing: 1.25px;
}

.price-center--left-center {
  width: 68%;
  letter-spacing: 1.25px;
  text-align: right;
  padding-right: 10px;
  padding-right: 0.625rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
}

.price-center--right {
  letter-spacing: 1.25px;
  width: 32%;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
}

.p-price__text--bottom {
  text-align: center;
  letter-spacing: 1.25px;
}

.text-attention {
  padding-top: 50px;
  padding-top: 3.125rem;
  display: inline-block;
}

.text-attention__list {
  text-align: left;
  letter-spacing: 1.25px;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
}

.price__text--pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .price__text--pc {
    display: none;
  }
}

.p-price__text--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .p-price__text--middle {
    display: none;
  }
}

.p-price__texts--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-price__texts--sp {
    display: block;
  }
}

.sp-price {
  padding-left: 10px;
  padding-left: 0.625rem;
}

.p-price-pc {
  display: none;
}

.price__text--sp-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-center--sp-right {
  width: 100%;
  padding-left: 10px;
  padding-left: 0.625rem;
}

.price-center--sp-center {
  width: 100%;
}

.price__text--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .price__text--sp {
    display: block;
  }
}

.p-rooms {
  background: #EDF2F7;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
  position: relative;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  padding-top: 80px;
  padding-top: 5rem;
  text-align: center;
}

.p-rooms::before {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 200px;
  height: 7.96vw;
  width: 100vw;
  top: -13%;
  left: 0;
  content: "";
  background: url(../images/common/wave-up.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .p-rooms::before {
    top: -4%;
  }
}
@media screen and (max-width: 500px) {
  .p-rooms::before {
    top: -2.5%;
  }
}

.p-rooms::after {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -18%;
  left: 0;
  content: "";
  background: url(../images/common/wave-down.png) no-repeat center center/contain;
}
@media screen and (max-width: 1024px) {
  .p-rooms::after {
    bottom: -24%;
  }
}
@media screen and (max-width: 767px) {
  .p-rooms::after {
    bottom: -11%;
  }
}
@media screen and (max-width: 415px) {
  .p-rooms::after {
    bottom: -10%;
  }
}

.p-rooms__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  max-width: 70rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-rooms__inner {
    display: block;
  }
}

.p-rooms__title {
  text-align: center;
  margin-bottom: 80px;
  margin-bottom: 5rem;
  position: relative;
  display: inline-block;
}

.p-rooms__title::after {
  position: absolute;
  width: 74px;
  width: 4.625rem;
  height: 35px;
  height: 2.1875rem;
  bottom: -20px;
  bottom: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "お部屋";
  font-size: 18px;
  font-size: 1.125rem;
  color: #1B2F5B;
}
@media screen and (max-width: 767px) {
  .p-rooms__title::after {
    font-size: 1rem;
    bottom: -1.375rem;
  }
}

.p-rooms__title::before {
  position: absolute;
  content: "";
  background: url(../images/common/flower.png) no-repeat center center/contain;
  overflow: hidden;
  width: 7.45vw;
  height: 8.7vw;
  top: -14%;
  left: -56%;
  display: block;
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}
@media screen and (min-width: 1440px) {
  .p-rooms__title::before {
    width: 6.45vw;
    width: 7.6875rem;
    height: 7.7vw;
    height: 9.1875rem;
    top: -32%;
    left: -67%;
  }
}
@media screen and (max-width: 767px) {
  .p-rooms__title::before {
    width: 88px;
    height: 90px;
    top: -6px;
    left: -87px;
  }
}

.p-rooms__left {
  width: 60%;
  position: relative;
  height: auto;
}
@media screen and (max-width: 767px) {
  .p-rooms__left {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 auto;
  }
}

.p-rooms__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 59%;
}
@media screen and (max-width: 767px) {
  .p-rooms__figure {
    padding-top: 51.6%;
  }
}

.p-rooms__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-rooms__right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-41%);
          transform: translateY(-41%);
  left: 86%;
  content: "";
  width: 42.5%;
  width: 100%;
  z-index: 2;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .p-rooms__right {
    background: #fff;
    position: static;
    width: 100%;
    max-width: 37.5rem;
    top: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    left: 0;
    text-align: center;
  }
}

.rooms-texts {
  background: #fff;
  display: inline-block;
  padding: 40px 60px 40px 60px;
  padding: 2.5rem 3.75rem 2.5rem 3.75rem;
}
@media screen and (max-width: 767px) {
  .rooms-texts {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .rooms-texts {
    padding: 2.5rem 1.25rem 2.5rem 1.25rem;
    font-size: 1rem;
    text-align: left;
  }
}

.rooms__text-bottom {
  padding-top: 80px;
  padding-top: 5rem;
}
@media screen and (max-width: 767px) {
  .rooms__text-bottom {
    padding-top: 3.125rem;
  }
}

.rooms__list--top {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 767px) {
  .rooms__list--top {
    letter-spacing: 0;
    font-weight: 700;
  }
}

.rooms__list {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 767px) {
  .rooms__list {
    letter-spacing: 0;
  }
}

.rooms-span-top {
  padding-left: 10px;
  padding-left: 0.625rem;
}

.rooms-span-middle {
  padding-left: 8px;
  padding-left: 0.5rem;
}

.rooms-span-time {
  padding-left: 14px;
  padding-left: 0.875rem;
}
/*# sourceMappingURL=styles.css.map */
