@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

.is-sm {
  display: none;
}
@media screen and (max-width: 375px) {
  .is-sm {
    display: block;
  }
}

.is-pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  -webkit-animation: zoomUp 12s linear 0s normal both;
          animation: zoomUp 12s linear 0s normal both;
}

.swiper-slide img {
  height: auto;
  width: 100%;
}

.c-section__title {
  font-size: 55px;
  font-size: 3.4375rem;
  color: #1B2F5B;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

.p-concept {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding: 70px 40px 400px;
  padding: 4.375rem 2.5rem 25rem;
  background: #fff;
}

.p-concept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.p-concept__left {
  padding-top: 76px;
  padding-top: 4.75rem;
  width: 45%;
  text-align: center;
  position: relative;
  min-width: 545px;
  min-width: 34.0625rem;
}

.p-concept__left::after {
  position: absolute;
  width: 379px;
  width: 23.6875rem;
  height: 264px;
  height: 16.5rem;
  bottom: -15%;
  left: 5%;
  content: "";
  background: url(../../../images/common/blue-sky.png) no-repeat center center/contain;
}

.p-concept__text {
  padding-top: 80px;
  padding-top: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  letter-spacing: 1.25px;
  line-height: 1.7;
  padding-top: 60px;
  padding-top: 3.75rem;
}

.p-concept__right {
  padding-top: 50px;
  padding-top: 3.125rem;
  width: 50%;
}

.p-concept__image {
  width: 75%;
  margin-left: 90px;
  margin-left: 5.625rem;
}

.p-concept__figure {
  padding-top: 133.6%;
  position: relative;
  width: 100%;
  height: 0;
}

.p-concept__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-concept__figure::after {
  position: absolute;
  width: 380px;
  width: 23.75rem;
  height: 298px;
  height: 18.625rem;
  bottom: -15%;
  right: -40%;
  content: "";
  background: url(../../../images/common/concept-img-small.jpg) no-repeat center center/contain;
}

.p-footer {
  background: #1B2F5B;
  padding-top: 98px;
  padding-top: 6.125rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.p-footer__inner {
  display: inline-block;
}

.p-footer::after {
  position: absolute;
  width: 200px;
  width: 12.5rem;
  height: 285px;
  height: 17.8125rem;
  bottom: -5px;
  bottom: -0.3125rem;
  right: 31%;
  content: "";
  background: url(../../../images/common/tree-right.png) no-repeat center center/contain;
  overflow: hidden;
}

.p-footer::before {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 179px;
  width: 11.1875rem;
  height: 200px;
  height: 12.5rem;
  bottom: -5px;
  bottom: -0.3125rem;
  left: 32%;
  content: "";
  background: url(../../../images/common/tree-left.png) no-repeat center center/contain;
  overflow: hidden;
  z-index: 1;
}

.footer__sub-title {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.p-footer__title {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

.p-footer__tel {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  padding-bottom: 76px;
  padding-bottom: 4.75rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  letter-spacing: 1.5px;
}

.p-footer__tel-icon {
  display: inline-block;
  padding-right: 5px;
  padding-right: 0.3125rem;
  width: 36px;
  width: 2.25rem;
  height: 24px;
  height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
}

.p-footer__copy-light {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.p-gallery {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  background: #fff;
}

.p-gallery__inner {
  width: 100%;
  max-width: 1370px;
  max-width: 85.625rem;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  background: #fff;
}

.p-gallery__images:nth-of-type(1) {
  background: url(../../../images/common/info-1.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(2) {
  background: url(../../../images/common/info-2.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(3) {
  background: url(../../../images/common/info-3.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(4) {
  background: url(../../../images/common/info-4.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(5) {
  background: url(../../../images/common/info-5.jpg) no-repeat top center/cover;
}

.p-gallery__images:nth-of-type(6) {
  background: url(../../../images/common/info-6.jpg) no-repeat top center/cover;
}

.p-gallery__figure {
  display: grid;
  gap: 10px;
  gap: 0.625rem;
  grid-template: 250px 250px/1fr 1fr 1fr;
  background-color: #fff;
}

.p-header {
  height: 100px;
  height: 6.25rem;
  background: #fff;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-header__logo {
  margin: 0;
  line-height: 100px;
  line-height: 6.25rem;
  font-size: 24px;
  font-size: 1.5rem;
  color: #1B2F5B;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-header__logo {
    padding-left: 2.5rem;
  }
}

.p-header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  margin-top: 1.4375rem;
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-right: 6.25rem;
  padding: 10px 24px;
  padding: 0.625rem 1.5rem;
  border: solid 2px #1B2F5B;
}
@media screen and (max-width: 767px) {
  .p-header__tel {
    margin-right: 40px;
  }
}

.p-header__tel a {
  font-size: 24px;
  font-size: 1.5rem;
  color: #1B2F5B;
  font-family: "Noto Sans JP", sans-serif;
}

.p-header__tel-icon {
  display: inline-block;
  padding-right: 10px;
  padding-right: 0.625rem;
  width: 36px;
  width: 2.25rem;
  height: 24px;
  height: 1.5rem;
  padding-top: 5px;
  padding-top: 0.3125rem;
}

.p-maps {
  background: #fff;
}

.p-maps__inner {
  width: 100%;
  position: relative;
  padding-top: 32.6%;
}

.p-maps__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-maps__titles {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
}

.p-maps__title {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.p-maps__lists {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #1B2F5B;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-maps__list {
  padding-right: 30px;
  padding-right: 1.875rem;
}

.p-mv {
  background: -webkit-gradient(linear, left top, right top, from(#EDF2F7), color-stop(60%, #EDF2F7), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(90deg, #EDF2F7 0%, #EDF2F7 60%, #fff 50%, #fff 100%);
  padding-top: 140px;
  padding-top: 8.75rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  position: relative;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
}
@media screen and (max-width: 767px) {
  .p-mv {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.p-mv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1484px;
  max-width: 92.75rem;
  height: 550px;
  height: 34.375rem;
}
@media screen and (max-width: 767px) {
  .p-mv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-mv__inner::after {
  position: absolute;
  bottom: 0;
  left: 10px;
  left: 0.625rem;
  content: "Wakumiya";
  font-size: 80px;
  font-size: 5rem;
  font-weight: 700;
  color: #1B2F5B;
}
@media screen and (max-width: 767px) {
  .p-mv__inner::after {
    font-size: 3rem;
    left: 10%;
  }
}

.p-mv__titles {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 0%;
}
@media screen and (max-width: 767px) {
  .p-mv__titles {
    top: 0;
  }
}

.p-mv__title {
  color: #1B2F5B;
  background-color: #fff;
  padding: 0 10px;
  padding: 0 0.625rem;
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-mv__title {
    font-size: 1.75rem;
  }
}

.p-mv__text {
  padding-left: 10px;
  padding-left: 0.625rem;
  font-size: 21px;
  font-size: 1.3125rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-mv__text {
    font-size: 1.125rem;
    background-color: #fff;
    display: inline-block;
    padding: 0.3125rem 0.625rem;
  }
}

.p-mv__images {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  width: 60%;
  max-width: 900px;
  max-width: 56.25rem;
}
@media screen and (max-width: 767px) {
  .p-mv__images {
    width: 100%;
  }
}

.p-mv__picture {
  position: relative;
  padding-top: 60%;
  height: auto;
}

.p-mv__picture ::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6%;
  left: 5%;
  content: "";
  background: #1B2F5B;
  z-index: -1;
}

.p-mv__names {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: "";
}

.p-parallax {
  height: 600px;
}

/* 背景画像 */
.p-parallax::before {
  background-image: url(../../../images/common/parallax-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -3;
}

.p-price {
  padding: 300px 40px 200px;
  padding: 18.75rem 2.5rem 12.5rem;
  background: #fff;
}

.p-price__title {
  text-align: center;
}

.p-price__inner {
  padding-top: 100px;
  padding-top: 6.25rem;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  max-width: 43.75rem;
  position: relative;
}

.p-price__inner::before {
  position: absolute;
  width: 140%;
  height: 140%;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  left: -100%;
  content: "";
  background: url(../../../images/common/price-flower.png) no-repeat center center/contain;
  overflow: hidden;
}

.p-price__inner::after {
  position: absolute;
  width: 140%;
  height: 140%;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  right: -100%;
  content: "";
  background: url(../../../images/common/price-flower.png) no-repeat center center/contain;
  overflow: hidden;
}

.p-price__texts {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.price__sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  color: #111;
}

.price__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.p-price__text--top {
  border-bottom: 1px solid #111;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.price__text--left {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 40%;
  padding-left: 3px;
  padding-left: 0.1875rem;
  letter-spacing: 1.25px;
}

.price-center--center {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 30%;
  text-align: right;
  padding-right: 10px;
  padding-right: 0.625rem;
  letter-spacing: 1.25px;
}

.price-center--right {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 30%;
  letter-spacing: 1.25px;
}

.price-center--left-center {
  width: 70%;
  letter-spacing: 1.25px;
  text-align: right;
  padding-right: 10px;
  padding-right: 0.625rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
}

.price-center--right {
  letter-spacing: 1.25px;
  width: 30%;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
}

.p-price__text--bottom {
  text-align: center;
  letter-spacing: 1.25px;
}

.text-attention {
  padding-top: 50px;
  padding-top: 3.125rem;
  display: inline-block;
}

.text-attention__list {
  text-align: left;
  letter-spacing: 1.25px;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
}

.p-rooms {
  background: #EDF2F7;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
  position: relative;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  padding-top: 120px;
  padding-top: 7.5rem;
}

.p-rooms::before {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 200px;
  top: -15%;
  left: 0;
  content: "";
  background: url(../../../images/common/wave-up.png) no-repeat center center/contain;
}

.p-rooms::after {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -20%;
  left: 0;
  content: "";
  background: url(../../../images/common/wave-down.png) no-repeat center center/contain;
}

.p-rooms__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.p-rooms__title {
  text-align: center;
  padding-bottom: 80px;
  padding-bottom: 5rem;
}

.p-rooms__left {
  width: 60%;
  height: auto;
}

.p-rooms__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 59%;
}

.p-rooms__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-rooms__right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  right: 7%;
  content: "";
  width: 42.5%;
}

.rooms-texts {
  background: #fff;
  display: inline-block;
  padding: 40px 60px 40px 60px;
  padding: 2.5rem 3.75rem 2.5rem 3.75rem;
}

.rooms__text-bottom {
  padding-top: 80px;
  padding-top: 5rem;
}

.rooms__list {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 5px;
}

.rooms-span-top {
  padding-left: 10px;
  padding-left: 0.625rem;
}

.rooms-span-middle {
  padding-left: 8px;
  padding-left: 0.5rem;
}

.rooms-span-time {
  padding-left: 14px;
  padding-left: 0.875rem;
}

.p-information {
  padding: 100px 40px 70px;
  padding: 6.25rem 2.5rem 4.375rem;
  background: #fff;
}

.p-information__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 765px;
  max-width: 47.8125rem;
  position: relative;
}

.p-information__inner::before {
  position: absolute;
  width: 265px;
  width: 16.5625rem;
  height: 495px;
  height: 30.9375rem;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  left: -70%;
  content: "";
  background: url(../../../images/common/red-flower.png) no-repeat center center/contain;
  overflow: hidden;
}

.p-information__inner::after {
  position: absolute;
  width: 364px;
  width: 22.75rem;
  height: 412px;
  height: 25.75rem;
  width: 50%;
  height: 50%;
  top: 0;
  right: -60%;
  content: "";
  background: url(../../../images/common/water.png) no-repeat center center/contain;
  overflow: hidden;
}

.p-information__title {
  text-align: center;
  padding-bottom: 46px;
  padding-bottom: 2.875rem;
}

.p-information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 22px;
  padding: 1.125rem 1.375rem;
}

.p-information__items--odd {
  background: #EDF2F7;
}

.information__item {
  width: 180px;
  width: 11.25rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1.25px;
}

.information__list {
  width: calc(100% - 180px);
  font-family: "Noto Sans JP", sans-serif;
  color: #111;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1.25px;
}

.p-information__items-other {
  padding-left: 22px;
  padding-left: 1.375rem;
  margin-top: -13px;
  margin-top: -0.8125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
}
/*# sourceMappingURL=styles.css.map */
