@use "global" as *;

.p-concept{
padding-top: rem(70);
padding: rem(70) rem(40) rem(400);

}
.p-concept__inner{
display: flex;
width: 100%;
max-width: 1350px;
margin: 0 auto;
@include mq(md){
    flex-direction:column;
    }
}

.p-concept__title{

}

.p-concept__left{
width: 45%;
text-align: center;
position: relative;
max-width: rem(545);
padding-top: rem(40);
@include mq(md){
  margin: 0 auto;
  width: 100%;
  max-width: rem(600);
    }
}
.p-concept__left::after{
    position: absolute;
    width: rem(379);
    height:rem(264);
    bottom: 0%;
     left:calc(50% - 45% );
    content: "";
     background: url(../../../images/common/blue-sky.png)no-repeat center center / contain;
     @include mq(md){
        display: none;
        }
    }


.p-concept__text{
padding-top: rem(80);
padding-left: 5%;
padding-right: 5%;
text-align: left;
letter-spacing: 1.25px;
line-height: 1.7;
padding-top: rem(60);
}


.p-concept__right{
padding-top: rem(50);    
width: 50%;
@include mq(md){
    width: 100%;
      }
}
.p-concept__image{
    width: 75%;
    margin-left: rem(90);
}
.p-concept__figure{
padding-top: 133.6%;
position: relative;
width: 100%;
height: 0;
}
.p-concept__figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

