@use "global" as *;

.p-footer {
    background: $navy;
    padding-top: rem(98);
    padding-bottom: rem(32);
    text-align: center;
    position: relative;
}
.p-footer__inner {
    display: inline-block;
}
.p-footer::after {
    position: absolute;
    width: rem(200);
    height: rem(285);
    width: 10.41vw;
    height: 14.84vw;
    bottom: 0;
    right: calc(50% - 19%);
    content: "";
    background: url(../images/common/tree-right.png) no-repeat center center / contain;
    overflow: hidden;
    @include mq(inner) {
        right: calc(50% - 21%);
    }
    @include mq(md) {
        width: 20.82vw;
        height: 29.68vw;
        right: calc(50% - 39%);
    }
}
.p-footer::before {
    position: absolute;
    width: 100%;
    height: 100%;
    width: rem(179);
    height: rem(200);
    width: 9.3vw;
    height: 10.41vw;
    bottom: 0;
    left: calc(50% - 18%);
    content: "";
    background: url(../images/common/tree-left.png) no-repeat center center / contain;
    overflow: hidden;
    z-index: 1;
    @include mq(inner) {
        left: calc(50% - 21%);
    }
    @include mq(md) {
        width: 18.6vw;
        height: 20.82vw;
        left: calc(50% - 39%);
    }
}
.footer__sub-title {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(16);
}
.p-footer__title {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(24);
    font-weight: $bold;
}
.p-footer__tel {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(24);
    padding-bottom: rem(76);
    padding-top: rem(10);
    letter-spacing: 1.5px;
}
.p-footer__tel-icon {
    display: inline-block;
    padding-right: rem(5);
    width: rem(36);
    height: rem(24);
    padding-top: rem(0);
}
.p-footer__copy-light {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(14);
    }
}
