@use "global" as *;
.p-information{
    padding: rem(100) rem(40) rem(70);
background: $white;
text-align: center;
}
.p-information__inner{
    margin: 0 auto;
width: 100%;
max-width: rem(765);
position: relative;

}
.p-information__inner::before{
    display: none;
    @include mq(xl){
    position: absolute;
    width: 13.8vw;
    height:25.7vw;
    top: 50%;
    transform: translateY(-40%);
    right: 100%;
    left: calc(50% - rem(658));
    content: "";
    background: url(../../../images/common/red-flower.png)no-repeat center center / contain; 
    overflow: hidden;
    display: block;
        }
}
.p-information__inner::after{
    display: none;
    @include mq(xl){
    position: absolute;
    content: "";
    background: url(../../../images/common/water.png)no-repeat center center / contain; 
    overflow: hidden;
    width: 18.9vw;
    height: 21.4vw;
    top: 0;
    right: calc(50% - rem(700)) ;
    display: block;
    
    }
}
.p-information__title{
text-align: center;
position: relative;
display: inline-block;
}
.p-information__title::after{
    display: none;
    @include mq(inner){
    position: absolute;
    content: "";
    background: url(../../../images/common/red-flower.png)no-repeat center center / contain; 
    overflow: hidden;
    width: 9.45vw;
    height: 10.7vw;
    top: -32%;
    left: -35% ;
    display: block;
    @include mq(md){
    width: 17.45vw;
    height: 18.7vw;
    top: -37%;
    }
   
    }
}
.p-information__title::before{
    position: absolute;
    width: rem(74);
    height:rem(35);
     bottom: rem(-20);
     left: 50%;
     transform: translateX(-50%);
    content: "基本情報";
    font-size: rem(18);
    color: $navy;
}
.p-information__container{
text-align: left;
padding-top: rem(46);
}
.p-information__items{
display: flex;
padding: rem(18) rem(22);
}
.p-information__items--odd{
background: $light-blue;
}
.information__item{
width: rem(180);
font-family: $base-font-family;
color: $black;
font-size: rem(18);
letter-spacing: 1.25px;
}
.information__list{
width: calc(100% - 180px);
font-family: $base-font-family;
color: $black;
font-size: rem(18);
letter-spacing: 1.25px;
}
.p-information__items-other{
    padding-left: rem(22);
    margin-top: rem(-13);
    padding-bottom: rem(18);
    
}