@use "global" as *;
.parallax__image{
    display: flex;
    height: 600px;
   justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/common/parallax-2.jpg);
    width: 100%;
    max-height: 100vh;
    @media screen and (max-width: 998.1px){
        background-attachment: scroll;
    }
    @include mq(md){
    background-image: url(../images/common/sea-sp.jpg);
        }
}
  