@use "global" as *;
.p-rooms{
// margin-top: rem(180);
// margin-bottom: rem(100);    
background: $light-blue;
padding-bottom: rem(120);
position: relative;
padding-left: rem(40);
padding-right: rem(40);
padding-top: rem(120);

}
.p-rooms::before{
    z-index: 1;
    position: absolute;
    width: 100%;
    height:200px;
    top: -15%;
    left: 0;
    content: "";
    background: url(../../../images/common/wave-up.png)no-repeat center center / contain;
}
.p-rooms::after{
    position: absolute;
    width: 100%;
    height:200px;
    bottom: -20%;
    left: 0;
    content: "";
    background: url(../../../images/common/wave-down.png)no-repeat center center / contain;
}
.p-rooms__inner{
margin: 0 auto;
width: 100%;
max-width: rem(1120);
display: flex;
position: relative;
}
.p-rooms__title{
text-align: center;
padding-bottom: rem(80);
}
.p-rooms__left{
width: 60%;
height: auto;
}
.p-rooms__figure{

    position: relative;
    width: 100%;
    height: 0;
    padding-top: 59.0% ;
}
.p-rooms__figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-rooms__right{
    position: absolute;
    width: 100%;
    height:100%;
    top: 50%;
    transform: translateY(-40%);
    right: 7%;
    content: "";
    width: 42.5%;
}
.rooms-texts{
    background: $white;
    display: inline-block;
    padding: rem(40)rem(60)rem(40)rem(60);

}
.rooms__text-top{
   
   
}
.rooms__text-bottom{
    padding-top: rem(80);
}
.rooms__list{
    font-family: $base-font-family;
    font-size: rem(18);
    letter-spacing: 5px;
}
.rooms-span-top{
    padding-left: rem(10);
}
.rooms-span-middle{
    padding-left: rem(8);
}
.rooms-span-time{
  padding-left: rem(14);  
}